{% extends "layout.html" %} {% block title %}Dashboard{% endblock %} {%block body%}
<br> {%for post in posts%}
<div class="card border-dark mx-auto w-50">
    <h5 class="card-header">{{post.title}}</h5>
    <div class="card-body">
        <p class="card-text">{{post.text}}</p>



        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{post.id}}">
            Delete
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop{{post.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">
                        Are you sure you want to delete this blog?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger"> <a href="/deletepost/{{post.id}}" class="text-light text-decoration-none">Delete</a></button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>

                    </div>
                </div>
            </div>
        </div>

        <a href="/editpost/{{post.id}}" class="btn btn-primary">Edit</a>
    </div>
</div>
<br> {%endfor%} {%endblock%}