{% extends "layout.html" %} {% block title %}Blog| Home{% endblock %} {%block body%}
<br>
<div class="container-fluid bg-secondary">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-sm-12">
            <h2 class="text-light">Create, Edit and Delete your blogs.</h2>
            <h4 class="text-light">Start by Signing Up here!
                <a href="/signup" class="text-primary text-decoration-none">Sign_Up</a>
            </h4>
        </div>
    </div>
</div>

{%endblock%}